body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("https://static.vecteezy.com/system/resources/previews/030/667/083/large_2x/flag-of-chile-high-quality-4k-ultra-hd-free-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.fondo{
  background-color: red;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #002fff;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}

i:hover{

  font-size: 60px;
  
}
 .titulo{

color: blue;
 }